body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow-x: hidden;
  }

  section {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 2em;
    padding-left: 10%;
    padding-right: 10%;
  }

  #section1 {
    background-color: #000000;
    color: white;
  }

  #section2 {
    background-color: #F5DDD7;
    color: #ff6804;
  }

  #section3 {
    background-color: #022b0b;
    color: #A1FF33;
  }

  #section4 {
    background-color: #77bad1;
    color: #393939;
  }

  #section5 {
    background-color: #000000;
    color: white;
  }

  #section6 {
    background-color: #000000;
    color: white;
  }

  nav {
    position: fixed;
    top: -50px;
    width: 100%;
    background-color: #000;
    transition: top 0.3s;
    z-index: 1000;
  }

  nav a {
    display: inline-block;
    padding: 15px 20px;
    color: white;
    text-decoration: none;
    font-size: 15px;
  }

  a {
    text-decoration: none;
    color: white;
}

h1 {
    font-family: 'Lexend Zetta', sans-serif;
    font-size: 50px;
    box-sizing: border-box;
}

h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 30px;
    box-sizing: border-box;
}

h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}

p {
    font-family: "Manrope", sans-serif;
    font-size: 20px;
}

li  {
    font-family: "Manrope", sans-serif;
}
img {
    width: 300px;
    height: 300px;
    box-sizing: border-box;
}
div {
    box-sizing: border-box;
}

.column
{
    flex-direction: column;
}
.showable
{
    display: none;
}
.hideable
{
    display: flex;
}
.sector
{
    width: 33%;
    margin-left: 20px;
    margin-right: 20px;
}
.image.clicked {
    width: 50vh;
    height: 50vh;
}

@media (max-width: 1200px){
    h1 {
        font-size: 4vw;
    }
}

@media (max-width: 1024px) {
    section {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
    }
    h1 {
        font-size: 9vw;
    }
    h2 {
        font-size: 6vw;
    }
    h3 {
        font-size: 5vw;
    }
    p {
        font-size: 3vw;
    }
    nav {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        max-width: max-content;
    }
    nav a {
        display: flex;
        width: 100%;
        font-size: 2.5vw;
    }
    img {
        width: 50vw;
        height: 50vw;
    }
    .column
    {
        flex-direction: row;
    }
    .showable
    {
      display: flex;
      justify-content: center;
      align-items: center;  
    }
    .hideable
    {
        display: none;
    }
    .sector
    {
        width: 90%;
    }
}

